{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 37.29655415892563,
        "longitude": 126.83874607086183,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "UTC",
        "external_url": null,
        "internal_url": null
    }
}